@use "styles/variables";

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;

  @include variables.mq(sm) {
    width: 100%;
    flex-direction: column;
  }
}
